.navbar {
  overflow: hidden;
  background-color: #ef9b0f;
  font-family:rubik;
  border-radius: 10px;
  padding: 10px;
  transition-duration:0.4s;
  box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  transition-duration:0.4s;
}

.dropdown .dropbtn {
  font-size:30px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition-duration:0.4s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:white;
  color:black;
  border-radius:10px;
  padding:20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size:20px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-size:25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
*{
  transition-duration:0.4s;
}
p{
  transition-duration:0.4s;
  font-family:rubik;
  padding:15px;
  padding-bottom:25px;
  font-size:25px;
  color:white;
  display:flex;
  padding:30px;
  box-shadow:0px 10px 20px 10px rgba(0,0,0,0.2);
  border-radius:10px;
  margin:20px;
}
p:hover{
  border:5px dotted #e3e3e3;
  padding:25px;
  background-image:inherit;
}
.dropbtn{
  font-family:montserrat;
}
body{
  background-image:url(https://htmlcolorcodes.com/assets/images/colors/yellow-orange-color-solid-background-1920x1080.png);
  background-size:cover;
  box-shadow: 0px 10px 20px 10px rgba(0,0,0,0.2);
  padding:5px;
  border-radius:10px;
}
p:hover{
  background-color: rgba(0,0,0, .5);
  color:white;
  border-radius:10px;
}
img{
  border-radius:10px;
  float:right;
  padding:30px;
  display:flex;
  box-shadow:0px 10px 20px 10px rgba(0,0,0,0.2);
  margin:20px;
  transition-duration:0.4s;
}
video{
  float:left;
  border-radius:10px;
  padding:30px;
  border:0px solid inherit;
  box-shadow:0px 10px 20px 10px rgba(0,0,0,0.2);
  margin:20px;
  transition-duration:0.4s;
}
video:hover{
  width:40%;
}
#flag{
  padding:30px;
  box-shadow:0px 10px 20px 10px rgba(0,0,0,0.2);
  border-radius:10px;
  margin:20px;
  transition-duration:0.4s;
}
#gov{
  float:center;
}